@import '../../app/css/main.scss';
@import '../../app/css/cores';
@import '../../app/css/fonte';

.fundo-cadastro{
    .caixa-cadastro{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        background-color: $cor-fundo;

        div{
            border-radius: 4px;
            background-color: #FFFFFF;
            padding: 1rem;
            box-shadow: 10px 6px 20px 0 #8b8b8ba6;

            .titulo-cadastro{
                font-family: $principal-font;
                font-size: 2rem;
                font-weight: bold;
                color: $text-color;
                margin: 1.5rem 0 1rem;
                text-align: center;
                box-shadow: none;
            }
            .subtitulo-cadastro{
                font-size: 0.875rem;
                margin: 1rem 0;
                .link-cadastro{
                    text-decoration: none;
                    color: $cor-principal;
                    &:hover{
                       text-decoration: underline;
                      
                    }
               }
            }
            .nome{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                input{
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .cpf{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                input{
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .rg{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                input{
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .sexoBiologico{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                select {
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .altura{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                input{
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .peso{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                input{
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .email{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                input{
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .senha{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                box-shadow: none;
                label{
                    padding-bottom: 2px;
                }
                input{
                    appearance: none;
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 1rem 0.5rem;
                    border: 1px solid $cor-principal;
                }
            }
            .botaoLogin{
                border: 0.125rem solid transparent;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                height: 3rem;
                line-height: 1.1rem;
                white-space: nowrap;
                background: $cor-principal;
                border-color: transparent;
                color: $cor-fundo;
                opacity: 1;
                margin: 0.75rem 0;
                width: 100%;
                &:hover{
                    background: #0C6FF9;
                    color: #FFFFFF;
                }
            }
            
        }
    }
}