@import '../../app/css/main.scss';
@import '../../app/css/cores';
@import '../../app/css/fonte';

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
    box-shadow: 10px 6px 20px 0 #8b8b8ba6;
    border-radius: 0px;

    .burger{
        display: none;
         border: none;
        background: none;
        border-top: 3px solid $text-hover;
        cursor: pointer;
        @media screen and (max-width: 940px){
            display: block;
        }
    }
    .burger::before,
    .burger::after{
        content: " ";
        display: block;
        width: 30px;
        height: 3px;
        background: $text-hover;
        margin-top: 5px;
    }
    

    nav{
        max-width: 1280px;
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 0 20px;
                .a{
                    text-decoration: none;
                    font-weight: 600;
                    font-family: $header-font;
                    font-size: 30px;
                    line-height: 33px;
                    color: $text-color;
                    padding-block: 16px;
                    &:hover{
                        color: $text-hover;
                    }
                }
            }
            @media screen and (max-width: 940px){
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background: $cor-principal;
                    clip-path: circle(100px at 90% -15%);
                    transition: 1s ease-out;

                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    gap: 0;
                    pointer-events: none;

                    &.active{
                        clip-path: circle(100px at 90% -15%);
                        pointer-events: all;
                    }

            }
            
        
        }
        
    }
    @media screen and (max-width: 940px){
        .logo{
           justify-content: center;
        }
    }
}

