@import '../../app/css/main.scss';
@import '../../app/css/cores';
@import '../../app/css/fonte';

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
    box-shadow: 10px 6px 20px 0 #8b8b8ba6;
    border-radius: 0px;

    
    

    nav{
        max-width: 1280px;
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 0 20px;
                .a{
                    text-decoration: none;
                    font-weight: 600;
                    font-family: $principal-font;
                    font-size: 30px;
                    line-height: 33px;
                    color: $text-color;
                    padding-block: 16px;
                    &:hover{
                        color: $text-hover;
                    }
                }
            }
           
            @media screen and (max-width: 940px){
                display: block;
            }
        
        }
        
    }
   
}

