@import '../../app/css/main.scss';
@import '../../app/css/cores';

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    box-shadow: 10px 6px 20px 0 #8b8b8ba6;
    border-radius: 0px;

    nav{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 0 20px;
                .a{
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 33px;
                    color: $text-color;
                    &:hover{
                        color: $text-hover;
                    }
                }
            }
        }
    }
}

